.container {
  width: 1440px;
  margin: 0 auto;
  // padding-left: 15px;
  // padding-right: 15px;

  // @include mobile {
  //   width: 320px;
  // }

  // @include tablet {
  //   width: 768px;
  //   padding-left: 32px;
  //   padding-right: 32px;
  // }

  // @include desktop {
  //   width: 1500px;
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-style: normal;
  letter-spacing: 0.36px;
  background-color: $background-light;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: $background-orange;
}
