@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  padding-top: 140px;
  padding-bottom: 140px;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  letter-spacing: 0.36px;
  background-color: #F5F5F5;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFB342;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome__label {
  background-color: #F4F4F4;
  width: 249px;
  height: 27px;
}

.welcome__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 5;
}
.welcome__label-text::after {
  content: "";
  background-image: url(../images/sprite.svg#icon-casca);
  width: 22px;
  height: 27px;
}

.servise-section {
  background: #F4F4F4;
}

.servise__top-label {
  position: relative;
  width: 213px;
  height: 27px;
  background: #ffffff;
  padding-left: 52px;
  padding-right: 20px;
  margin: 0 auto;
}

.servise__label {
  width: 141px;
  height: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background: #ffffff;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #1C2752;
}
.servise__label::after {
  position: absolute;
  left: 21px;
  display: inline-block;
  content: "";
  background-image: url(../images/service/service-top.svg);
  width: 22px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
}

.servise__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.2888888889;
  text-align: center;
  letter-spacing: 0.36px;
  color: #1C2752;
  margin-top: 22px;
  margin-bottom: 12px;
}

.servise__top-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.36px;
  color: #7E7E7E;
  margin-bottom: 47px;
}

.servise__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.servise-cards {
  position: relative;
  width: 380px;
  height: 378px;
  background: #1C2752;
  margin-bottom: 30px;
  width: calc((100% - 90px) / 3);
  padding-top: 118px;
  padding-left: 35px;
  padding-right: 46px;
}

.servise-cards__images {
  position: absolute;
  top: 50px;
  left: 35px;
}

.servise-cards__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.52;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #FFB342;
  margin-bottom: 15px;
}

.servise-cards__text {
  width: 299px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: #D2D2D2;
  margin-bottom: 22px;
}

.service-second-text {
  font-size: 17px;
}

.servise-cards__btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  padding-left: 35px;
  padding-right: 35px;
}

.gallery {
  background-color: #1c2752;
}

.gallery__top-label {
  text-align: center;
}

.gallery__top-label-text {
  background-color: #f4f4f4;
  color: #1c2752;
  padding-left: 21px;
  padding-right: 20px;
  margin-bottom: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}
.gallery__top-label-text::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/src/images/gallery/gallery-top.svg);
  margin-right: 14px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-bottom: 49px;
}

.gallery__item {
  width: calc((100% - 90px) / 4);
  height: 477px;
  background-color: #ffffff;
  position: relative;
}

.gallery__picture {
  position: absolute;
  left: calc(50% - 139px);
  top: calc(50% - 167px - 50.5px);
}

.customers_paragraf {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: #1C2752;
}

.customers_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1;
  /* identical to box height, or 130% */
  letter-spacing: 0.36px;
  color: #1C2752;
}

.prise {
  background-color: #F4F4F4;
}/*# sourceMappingURL=index.css.map */