<section class="section servise-section">
  <div class="servise container">
    <div class="servise__top-label">
      <p class="servise__label">Area Of Service</p>
    </div>

    <h2 class="servise__title">Our Services</h2>
    <p class="servise__top-text">
      We offers a comprehensive range of electrical services for domestic and
      commercial <br />
      properties at a reasonable price.
    </p>
    <ul class="servise__list list">
      <li class="servise-cards">
        <img
          src="./images/service/service1.png"
          alt="cards-images"
          class="servise-cards__images"
        />
        <h3 class="servise-cards__title">Air condition service</h3>
        <p class="servise-cards__text">
          Services are able to service your entire electrical infrastructure
          from Thermal Imaging of your air condition from switch boards.
        </p>
        <button type="button" class="servise-cards__btn">View More</button>
      </li>
      <li class="servise-cards">
        <img
          src="./images/service/service2.png"
          alt="cards-images"
          class="servise-cards__images"
        />
        <h3 class="servise-cards__title">Electrical installation</h3>
        <p class="servise-cards__text service-second-text">
          The art electrical installations that provide all the necessary
          electrical solutions to suit your business, home or industrial
          premises.
        </p>
        <button type="button" class="servise-cards__btn">View More</button>
      </li>
      <li class="servise-cards">
        <img
          src="./images/service/service3.png"
          alt="cards-images"
          class="servise-cards__images"
        />
        <h3 class="servise-cards__title">General Builder</h3>
        <p class="servise-cards__text">
          We provide impeccable safety assessments to both commercial,
          residential properties. Our adept & knowledgeable electricians.
        </p>
        <button type="button" class="servise-cards__btn">View More</button>
      </li>
      <li class="servise-cards">
        <img
          src="./images/service/service4.png"
          alt="cards-images"
          class="servise-cards__images"
        />
        <h3 class="servise-cards__title">Security System</h3>
        <p class="servise-cards__text service-second-text">
          Utilized for measuring flow, temperature level & pressure in the
          manufacturing industry array of technology is ensure productivity.
        </p>
        <button type="button" class="servise-cards__btn">View More</button>
      </li>
      <li class="servise-cards">
        <img
          src="./images/service/service5.png"
          alt="cards-images"
          class="servise-cards__images"
        />
        <h3 class="servise-cards__title">Service & maintenance</h3>
        <p class="servise-cards__text">
          Electrical Services are able to service your entire electrical
          infrastructure from Thermal Imaging of your switch boards.
        </p>
        <button type="button" class="servise-cards__btn">View More</button>
      </li>
      <li class="servise-cards">
        <img
          src="./images/service/service6.png"
          alt="cards-images"
          class="servise-cards__images"
        />
        <h3 class="servise-cards__title">House Extensions</h3>
        <p class="servise-cards__text">
          Traditionally, electricity is supplied through overhead network poles,
          where the cable is connected to your building.
        </p>
        <button type="button" class="servise-cards__btn">View More</button>
      </li>
    </ul>
  </div>
</section>
