<section class="footer">
    <div class="container">
        <div class="footer-header">
            <a href="" class="footer-logo">
                <img src="./images/Footer/footer-logo-min.png" width="242" height="48" alt="main-logo">
            </a>
            <ul class="footer-list">
                <li class="footer-item mail">
                    <a href="mailto:Info@bluecollar.com" class="footer-link">
                    <span class="footer-text">Mail Us</span>Info@bluecollar.com
                    </a></li>
                <li class="footer-item phone"><a href="tell:+01569896654" class="footer-link"><span class="hfooter-text">Call Us</span>+01 569 896 654</a></li>
                <li class="footer-item location"><a href="https://goo.gl/maps/axnv63LZsgDer56U6" target="_blank" rel="noopener, nofollow, noreferrer" class="footer-link"><span class="footer-text">Location</span>Amsterdam, 109-74</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="first-part">
                <p class="first-part__text">We are here to fit the needs of your basic services for your dream building whether its a commercial, residential or industry.</p>
                <ul class="footer-social-list list">
                    <li class="footer-social-item"><a href="" class="footer-social-link">
                        <svg class="footer-social-icon" width="20" height="19">
                        <use href="./images/hero-header/symbol-defs.svg#icon-instagram"></use>
                    </svg></a></li>
                    <li class="footer-social-item"><a href=""><svg class="footer-social-icon" width="19" height="18">
                        <use href="./images/hero-header/symbol-defs.svg#icon-facebook"></use>
                    </svg></a></li>
                    <li class="footer-social-item"><a href=""><svg class="footer-social-icon" width="19" height="18">
                        <use href="./images/hero-header/symbol-defs.svg#icon-twitter"></use>
                    </svg></a></li>
                    <li class="footer-social-item"><a href=""><svg class="footer-social-icon" width="19" height="18">
                        <use href="./images/hero-header/symbol-defs.svg#icon-pinterest"></use>
                    </svg></a></li>
                </ul>
            </div>
            <div class="second-part">
                <div class="sp-first-list">
                <p class="list-title">Explore</p>
                <ul class="fast-links list">
                    <li class="fast-links-item"><a href="" class="fast-links-link">About Us</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Pricing</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Team</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Blog</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Contact Us</a></li>
                </ul>
            </div>
            <div class="sp-second-list">
                <p class="list-title">Quick Links</p>
                <ul class="fast-links list">
                    <li class="fast-links-item"><a href="" class="fast-links-link">Home</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Services</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Service Single</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Projects</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Projects Single</a></li>
                </ul>
            </div>
        </div>
            <div class="third-part">
                <p class="list-title">Utility Pages</p>
                <ul class="fast-links list">
                    <li class="fast-links-item"><a href="" class="fast-links-link">Style Guide</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Changelog</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Licenses</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">Protected Page</a></li>
                    <li class="fast-links-item"><a href="" class="fast-links-link">404 Page</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>