<section class="section footer-orange">
  <div class="container">
    <div class="footer-orange__top">
      <div>
        <h6 class="footer-orange__top-name">Subscribe Our Newsletter</h6>
        <p class="footer-orange__top-text">
          Stay in touch with us to get latest news. We are here to fit the needs
          of your electrical services for your dream building.
        </p>
      </div>
      <div>
        <form class="footer-orange__form">
          <input
            type="email"
            class="footer-orange__input"
            name="mail"
            placeholder="Enter your email address"
          />
          <button class="footer-orange__button" type="submit">
            <span>Subscribe</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
