<section class="section gallery">
  <div class="container">
    <div class="gallery__top-label">
      <p class="gallery__top-label-text">The Gallery</p>
    </div>

    <h2 class="gallery__title">Our Recent Projects</h2>

    <ul class="gallery__list">
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              ./images/gallery/gallery-img-1-1x.jpg 1x,
              ./images/gallery/gallery-img-1-2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery-img-1-1x.jpg"
            alt="Worker's photo"
            width="278"
            height="334"
          />
        </picture>

        <h3 class="gallery__name-card">Fiber cable change</h3>
        <p class="gallery__name-classes">Commercial</p>
      </li>
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              ./images/gallery/gallery-img-2-1x.jpg 1x,
              ./images/gallery/gallery-img-2-2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery-img-2-1x.jpg"
            alt="Workshop work"
            width="278"
            height="334"
          />
        </picture>

        <h3 class="gallery__name-card">Industry machine issue</h3>
        <p class="gallery__name-classes">Industry</p>
      </li>
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              ./images/gallery/gallery-img-3-1x.jpg 1x,
              ./images/gallery/gallery-img-3-2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery-img-3-1x.jpg"
            alt="Chassis repair"
            width="278"
            height="334"
          />
        </picture>

        <h3 class="gallery__name-card">Wheel Alloy Change</h3>
        <p class="gallery__name-classes">Residential</p>
      </li>
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              ./images/gallery/gallery-img-4-1x.jpg 1x,
              ./images/gallery/gallery-img-4-2x.jpg 2x
            "
          />
          <img
            src="./images/gallery/gallery-img-4-1x.jpg"
            alt="Worker repairing the roof"
            width="278"
            height="334"
          />
        </picture>

        <h3 class="gallery__name-card">Roof Cleaning</h3>
        <p class="gallery__name-classes">Commercial</p>
      </li>
    </ul>
  </div>
</section>
