<section class="section gallery">
  <div class="container">
    <div class="gallery__top-label">
      <p class="gallery__top-label-text">The Gallery</p>
    </div>

    <h2 class="gallery__title">Our Recent Projects</h2>

    <ul class="gallery__list">
      <li class="gallery__item">
        <div class="gallery__top-wrap">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-1-1x.jpg 1x,
                ./images/gallery/gallery-img-1-2x.jpg 2x
              "
            />
            <img
              class="gallery__picture"
              src="./images/gallery/gallery-img-1-1x.jpg"
              alt="Worker's photo"
              width="278"
              height="334"
            />
          </picture>
        </div>

        <div class="text">
          <h3 class="gallery__name-card">Fiber cable change</h3>
          <p class="gallery__classes">Commercial</p>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__top-wrap">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-2-1x.jpg 1x,
                ./images/gallery/gallery-img-2-2x.jpg 2x
              "
            />
            <img
              class="gallery__picture"
              src="./images/gallery/gallery-img-2-1x.jpg"
              alt="Workshop work"
              width="278"
              height="334"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__top-wrap">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-3-1x.jpg 1x,
                ./images/gallery/gallery-img-3-2x.jpg 2x
              "
            />
            <img
              class="gallery__picture"
              src="./images/gallery/gallery-img-3-1x.jpg"
              alt="Chassis repair"
              width="278"
              height="334"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__top-wrap">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-4-1x.jpg 1x,
                ./images/gallery/gallery-img-4-2x.jpg 2x
              "
            />
            <img
              class="gallery__picture"
              src="./images/gallery/gallery-img-4-1x.jpg"
              alt="Worker repairing the roof"
              width="278"
              height="334"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
