<aside class="aside">
  <div class="container">
    <p class="aside-text">Opening Hours: 06:00 to 20:00</p>
    <ul class="social-list">
      <li class="social-item">
        <a href="" class="social-link">
          <svg class="social-icon" width="19" height="18">
            <use
              href="./images/hero-header/symbol-defs.svg#icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="" class="social-link">
          <svg class="social-icon" width="19" height="18">
            <use href="./images/hero-header/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="" class="social-link">
          <svg class="social-icon" width="19" height="18">
            <use
              href="./images/hero-header/symbol-defs.svg#icon-pinterest"
            ></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="" class="social-link">
          <svg class="social-icon" width="19" height="18">
            <use
              href="./images/hero-header/symbol-defs.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</aside>
<header class="header" id="hero">
  <div class="container">
    <a href="">
      <img
        src="./images/hero-header/logo.png"
        width="242"
        height="48"
        alt="main-logo"
      />
    </a>
    <ul class="header-list">
      <li class="header-item mail">
        <a href="mailto:Info@bluecollar.com" class="header-link">
          <span class="header-text">Mail Us</span>Info@bluecollar.com
        </a>
      </li>
      <li class="header-item phone">
        <a href="tell:+01569896654" class="header-link"
          ><span class="header-text">Call Us</span>+01 569 896 654</a
        >
      </li>
    </ul>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="" class="nav-link">Pages</a></li>
        <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
      </ul>
      <button type="button" class="form-btn">Have Any Questions?</button>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="container">
    <p class="hero-text">
      Improve our customers lives by providing effective solutions.
    </p>
    <h1 class="hero-title">A recognized leader in services industry</h1>
    <button type="button" class="hero-btn">View Services</button>
  </div>
</section>
