<section class="stay-updated">
  <div class="container">
    <div class="title_conteiner">
      <p class="customers_paragraf customers_paragraf--stay">
        <svg width="22px" height="27px" class="note_svg">
          <use href="./images/mix-form/mix-form.svg#icon-notebook"></use>
        </svg>
        Stay Updated
      </p>
      <h2 class="customers_title">Latest News & Articles</h2>
    </div>
    <div>
      <ul class="news_list">
        <li class="news_item">
          <div data-aos="zoom-in" data-aos-delay="300">
            <picture>
              <source
                srcset="
                  ./images/Updated-photo/Updated-photo-1.jpg    1x,
                  ./images/Updated-photo/Updated-photo-1@2x.jpg 2x
                "
              />
              <img
                src="./images/Updated-photo/Updated-photo-1.jpg"
                alt="Worker's photo"
              />
            </picture>
            <div class="box_flex">
              <p class="box_name">
                <svg width="18px" height="20px" class="name_svg">
                  <use href="./images/Updated-photo/Updated.svg#icon-Men"></use>
                </svg>
                Alex Louis
              </p>
              <p class="box_date">
                <svg width="18px" height="18px" class="date_svg">
                  <use
                    href="./images/Updated-photo/Updated.svg#icon-Clock"
                  ></use>
                </svg>
                April 16, 2022
              </p>
            </div>
          </div>
          <h3 class="title_new">
            How Outside Lighting can Transform Your Summer Garden
          </h3>
          <p class="paragraf_news">
            Capitalize on low-hanging fruit to identify a ballpark value added
            matrix economically activity to beta test override the multiple
            touchpoints for offshoring the digital divide with DevOps.
          </p>
          <button type="button" class="button_update">
            View More
            <svg width="6px" height="11px" class=" ">
              <use
                href="./images/Updated-photo/vector-right.svg#icon-Vector-right"
              ></use>
            </svg>
          </button>
        </li>
        <li class="news_item">
          <div
            data-aos="zoom-in"
            data-aos-delay="450"
            data-aos-easing="ease-out-cubic"
          >
            <picture>
              <source
                srcset="
                  ./images/Updated-photo/Updated-photo-2x.jpg   1x,
                  ./images/Updated-photo/Updated-photo-2@2x.jpg 2x
                "
              />
              <img
                src="./images/Updated-photo/Updated-photo-2x.jpg"
                alt="Worker's photo"
              />
            </picture>
            <div class="box_flex">
              <p class="box_name--2">
                <svg width="18px" height="20px" class="name_svg">
                  <use href="./images/Updated-photo/Updated.svg#icon-Men"></use>
                </svg>
                John Christin
              </p>
              <p class="box_date">
                <svg width="18px" height="18px" class="date_svg">
                  <use
                    href="./images/Updated-photo/Updated.svg#icon-Clock"
                  ></use>
                </svg>
                April 16, 2022
              </p>
            </div>
          </div>
          <h3 class="title_new">
            Easy Energy Saving Solutions for Industrial Businesses
          </h3>
          <p class="paragraf_news">
            Strategies on low-hanging fruit to identify a ballpark value added
            activity matrix economically to beta test override multiple
            touchpoints for offshoring the digital divide with DevOps.
          </p>
          <button type="button" class="button_update">
            View More
            <svg width="6px" height="11px" class=" ">
              <use
                href="./images/Updated-photo/vector-right.svg#icon-Vector-right"
              ></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
