<section class="section offer-section">
  <div class="offer container"></div>
  <div class="offer__top-label">
    <p class="offer__label">What We Offer</p>
  </div>
  <h2 class="offer__title">Professional Main Services</h2>
  <p class="offer__top-text">
    We have extensive experience of domestic and business electrical
    installations and no job is<br />
    too small. Our customers value our professionalism, work ethic and our
    competitive prices.
  </p>

  <ul class="offer__list">
    <li class="offer__item">
      <button type="button" class="offer__btn">
        <img
          src="./images/offer/offer1.png"
          alt="images section "
          class="offer__images"
        />
        Commercial
      </button>
    </li>
    <li class="offer__item">
      <button type="button" class="offer__btn">
        <img
          src="./images/offer/offer2.png"
          alt="images section"
          class="offer__images"
        />
        Residential
      </button>
    </li>
    <li class="offer__item">
      <button type="button" class="offer__btn">
        <img
          src="./images/offer/offer3.png"
          alt="images section"
          class="offer__images"
        />
        Industrial
      </button>
    </li>
  </ul>
  <div class="offer-content">
    <div class="offer-content__top-label">
      <p class="offer-content__label">Electrical installation</p>
    </div>

    <h3 class="offer-content__title">Commercial</h3>
    <p class="offer-content__text">
      Electrical & Maintenance Services Ltd offers a full range of electrical
      services to suit your needs – from moving a light switch to complete house
      rewires.
    </p>
    <p class="offer-content__text offer-secondary-text">
      In addition to providing fully qualified, competent electricians in and
      around London, the company also runs an electrical wholesale shop.
    </p>
    <picture>
      <source
        srcset="
          ./images/offer/offer-content-img.jpg   1x,
          ./images/offer/offer-content-imgx2.jpg 2x
        "
      />

      <img
        src="./images/offer/offer-content-img.jpg"
        alt="bilder"
        class="offer-content__image"
      />
    </picture>

    <button type="button" class="offer-content__btn">Read More</button>
  </div>
</section>
