.servise-section {
  background: $background-light-grey;
}
.servise__top-label {
  position: relative;
  width: 213px;
  height: 27px;
  background: $color-text-white;
  padding-left: 52px;
  padding-right: 20px;
  margin: 0 auto;
}
.servise__label {
  width: 141px;
  height: 27px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(27 / 18);
  background: $color-text-white;

  letter-spacing: 0.36px;
  text-transform: capitalize;

  color: $background-dark;
  &::after {
    position: absolute;
    left: 21px;
    display: inline-block;
    content: '';
    background-image: url(../images/service/service-top.svg);
    width: 22px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
  }
}
.servise__title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: calc(58 / 45);
  text-align: center;
  letter-spacing: 0.36px;
  color: $background-dark;
  margin-top: 22px;
  margin-bottom: 12px;
}

.servise__top-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(27 / 18);

  text-align: center;
  letter-spacing: 0.36px;

  color: $color-text-grey;
  margin-bottom: 47px;
}
.servise__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.servise-cards {    
  position: relative;
  width: 380px;
  height: 378px;
  background: $background-dark;
  margin-bottom: 30px;
  width: calc((100% - 90px) / 3);
  padding-top: 118px;
  padding-left: 35px;
  padding-right: 46px;
}
.servise-cards__images{
    position: absolute;
    top: 50px;
    left: 35px;
}
.servise-cards__title{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: calc(38/25);
letter-spacing: 0.36px;
text-transform: capitalize;
color: $color-text-orange;

margin-bottom: 15px;
}
.servise-cards__text{
    width: 299px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: calc(27/18);
letter-spacing: 0.36px;
color: #D2D2D2;
margin-bottom: 22px;
}
.service-second-text{
    font-size: 17px;
}
.servise-cards__btn{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: calc(27/18);
letter-spacing: 0.36px;

color: $color-text-white;
cursor: pointer;
border: none;
background: none;

}