.container {
  padding-left: 35px;
  padding-right: 35px;
}

.gallery {
  background-color: #1c2752;
}

.gallery__top-label {
  text-align: center;
}

.gallery__top-label-text {
  background-color: #f4f4f4;
  color: #1c2752;
  padding-left: 21px;
  padding-right: 20px;
  margin-bottom: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;

  &::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/src/images/gallery/gallery-top.svg);
    margin-right: 14px;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-bottom: 49px;
}

.gallery__item {
  width: calc((100% - 90px) / 4);
  height: 477px;
  background-color: #ffffff;
  position: relative;
}

.gallery__picture {
  position: absolute;
  left: calc(50% - 278px / 2);
  top: calc(50% - 334px / 2 - 50.5px);
}
