.mix-form {
  background-color: #ffffff;

  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.slick-list {
  overflow: hidden;
}

.container .customers {
  padding-left: 50px;
  padding-right: 50px;
}

.container_client {
  display: flex;
  padding-bottom: 110px;
}
.form {
  padding-left: 45px;
}

.customers_paragraf {
  display: inline-flex;
  align-items: center;
  width: 174px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  // text-transform: capitalize;
  color: $color-text-dark;
  background-color: $background-light-grey;
  padding: 0 20px;
  margin-bottom: 22px;

  &.question {
    width: 190px;
  }

  &.meet {
    width: 146px;
  }

  &.client {
    width: 134px;
  }
}

.note_svg {
  margin-right: 10px;
}

.customers_title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.28;
  letter-spacing: 0.36px;
  color: $color-text-dark;
  margin-bottom: 40px;

  &.company {
    margin-bottom: 61px;
  }
}

.slider {
  position: relative;
  border-radius: 0;
  border: 1px solid #dddddd;
  padding: 41px;
  width: 591px;
  height: 378px;
  // background-color: #f5f5f5;
  margin-bottom: 40px;
}

// .slider_conteiner {
//   margin-left: 20px;
//   margin-right: 20px;
// }

.slick-prev {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/mix-form/slider-left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-light-grey;
  transition: background-color 300ms linear;

  &:hover,
  &:focus {
    background-color: $background-orange;
    background-image: url(../images/mix-form/slider-left.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slick-next {
  position: absolute;
  top: 300px;
  right: 420px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/mix-form/slider-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-light-grey;
  transition: background-color 300ms linear;

  &:hover,
  &:focus {
    background-color: $background-orange;
    background-image: url(../images/mix-form/slider-right.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slick-prev:before,
.slick-next:before {
  display: none;
  // position: absolute;
  // top: 300px;
  // right: 420px;
  // width: 50px;
  // height: 50px;
  // border-radius: 50%;
  // background-image: url(../images/mix-form/slider-right.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-color: $background-light-grey;
  // transition: background-color 300ms linear;
}

.customer_conteiner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
}

.customer_info {
  margin-left: 10px;
  width: 139px;
  height: 56px;
}

.customer_name {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.36px;
  color: $background-dark;
}

.customer_sity {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: $color-text-grey;
}

.container_quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $background-orange;
  width: 55px;
  height: 55px;
  margin-left: auto;
}
// .icon-quotes {
//   margin-left: auto;
// }

.slider_coments {
  margin-top: 20px;
  width: 500px;
}

.slider_paragraf {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: $color-text-grey;
}

.contact_conteiner {
  width: 591px;
  height: 330px;
  background-color: $background-orange;
  padding: 60px 68px 53px 40px;
}

.contact_title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  color: $background-dark;
  margin-bottom: 13px;
}

.customers_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  width: 483px;
  letter-spacing: 0.36px;
  color: $background-dark;
  margin-bottom: 24px;
}

.customers_tel {
  font-family: 'Mulish';
  font-style: normal;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: #ffffff;
  transition: color 300ms linear, background-color 300ms linear;

  &::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 20px;
    background-image: url(../images/mix-form/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    color: $color-text-grey;
  }
}

.form_conteiner {
  padding: 70px 40px;
  background-color: $background-light-grey;
}

.modal_input {
  width: 484px;
  height: 65px;
  margin-bottom: 25px;
  padding: 19px 10px 19px 44px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  // font-family: 'Inter';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 17px;
  // line-height: 1.59;
  // letter-spacing: 0.36px;
  // color: $background-dark;
  transition: border-color 300ms linear;
  outline: none;

  &.date {
    color: rgba(33, 33, 33, 0.2);
  }

  &:hover,
  &:focus {
    border-color: $background-orange;
  }

  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.36px;
    color: $background-dark;
    transition: color 300ms linear;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $background-orange;
  }
}

.form_textarea {
  width: 484px;
  height: 150px;
  padding: 19px 0 0 44px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 300ms linear;

  &:hover,
  &:focus {
    border-color: $background-orange;
  }

  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.36px;
    color: $background-dark;
    transition: color 300ms linear;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $background-orange;
  }
}

.form_button {
  margin-top: 35px;
  width: 100%;
  height: 68px;
  background-color: $background-orange;
  transition: color 300ms linear, background-color 300ms linear;

  &:hover,
  &:focus {
    background-color: hsl(36, 64%, 42%);
    color: #f5f5f5;
  }
}

.company_conteiner {
  text-align: center;
}

.company_list {
  display: flex;
  flex-wrap: wrap;
  margin: -50px;
}

.company_item {
  flex-basis: calc((100% - 8 * 50px) / 4);
  margin: 50px;
}
