.customers_paragraf {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  //   text-transform: capitalize;
  color: $color-text-dark;

  // &::before {
  //   content: ' ';
  //   background-image: url(../images/mix-form.svg#icon-notebook);
  //   width: 22px;
  //   height: 27px;
  //   margin-left: 20px;
  // }
}

.customers_title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.28;
  letter-spacing: 0.36px;
  color: $color-text-dark;
}
