.prise {
  background: $background-light-grey;

  &__label {
    position: relative;
    width: 159px;
    height: 27px;
    background: $color-text-white;
  }

  &__label-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.59;
    color: $color-text-dark;
    letter-spacing: 0.36px;
    text-transform: capitalize;
  }

  &::after {
    position: absolute;
    content: '';
    left: 20px;
    display: inline-block;
    background-image: url(../images/sprite.svg#icon-prise);
  }
}