.prise {
  background: $background-light-grey;
  width: 1440px;
  padding-left: 120px;
  padding-right: 120px;

  &__label {
    width: 159px;
    height: 27px;
    background: $color-text-white;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 23px;
  }

  &__svg {
    margin-right: 13px;
    width: 22px;
    height: 27px;
  }

  &__label-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.59;
    color: $color-text-dark;
    letter-spacing: 0.36px;
    text-transform: capitalize;
  }
  
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top-left {
    margin-top: 150px;
    margin-right: 111px;
  }

  &__top-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.3;
    color: $color-text-dark;
    letter-spacing: 0.36px;
    width: 497px;
    margin-bottom: 58px;
  }

  &__top-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $color-text-grey;
    letter-spacing: 0.36px;
    width: 585px;
    margin-top: 180px;
    margin-bottom: 86px;
  }
}
